@import './settings.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: $color-dark;
  font-family: $font-text;
  font-size: ($base-size * 1.1);
  color: $color-light;
  letter-spacing: 0.5px;
}

:global(.container) {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  background: $color-dark;
  border-radius: 12px;
  padding: $base-size;
  background: rgba(47, 53, 66, 0.5);
  min-width: $base-size * 3;
  min-height: $base-size * 3;
  text-align: center;
  cursor: pointer;
  transition: $transition;
}

@import './typography.scss';
