@use 'sass:math';
@import '../../styles/settings.scss';

.choices {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.button {
  position: absolute;
  top: -$base-size * 2;
  right: -$base-size * 2;
  font-size: $base-size * 2;
  border-radius: 100%;
  width: $base-size * 5;
  height: $base-size * 5;
}

.optionLabel {
  margin: $base-size 0;
}
