@use 'sass:math';
@import '../../styles/settings.scss';

button.sizeButton {
  margin: 12px 6px;

  &.active {
    opacity: 1;
    transform: scale(1.2);
    background: rgb(47, 53, 66);
  }

  &:first-child {
    margin-left: 0;
  }
}

button.sizeButton:hover {
  background: rgb(47, 53, 66);
}
