@use 'sass:math';
@import '../../styles/settings.scss';

button {
  &.active {
    opacity: 1;
    transform: scale(1.2);
    background: rgb(47, 53, 66);
  }

  &:first-child {
    margin-left: 0;
  }
}

.sizes .choices button:hover {
  background: rgb(47, 53, 66);
}
